.login-header {
  grid-column: content-small;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin-normal) 0;
}

.login-header + main > h1 {
  text-align: center;
  justify-self: center;
}

.login-container {
  grid-column: content-small;
  display: flex;
  flex-direction: column;
  gap: var(--gap-normal);
}

.login-container > form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.s-align-start {
  align-self: start;
}

aside.login {
  grid-column: content-small;
  justify-self: end;
}
