.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  font-weight: 700;
}

.chip.chip-active {
  background-color: var(--color-secondary);
  padding: var(--margin-small);
  color: var(--color-brown-light);
}

.chip.chip-inactive {
  background-color: transparent;
  color: var(--color-brown-dark);
}
